/* PasswordRecovery.css */

/* h2 {
    font-size: 24px;
    margin-bottom: 20px;
  } */
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px; /* Adjust the width to your preference */
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .error-message {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 20px;
  } */
  
  /* label {
    display: block;
    font-weight: bold;
  } */
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Add this to your CSS file */
.back-button {
    display: inline-block;
    background-color: #d93911;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .back-button:hover {
    background-color: #831605;
  }
