/* Dashboard.css */
.dashboard {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .account-list {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 200px;
  }
  
  .account-list h3 {
    margin-top: 0;
  }
  
  .create-account {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .logout {
    background-color: #d80707;
    padding: 20px;
    border: 1px solid #150a0a;
    border-radius: 5px;
  }